/*Colors
Dark Red: #c2172b
Orange: #c23c17
Hot Pink: #c21764
Light Pink: #eb5466
Gray: 6d6d6d
Black: #000000
*/

body {
  color: black;
  background-color: #c2172b; 
}

.wrapper {
  margin: 75%;
  padding: 3%;
}

aside{
	float:left; 
	padding:10px; 
	background-color: #6d6d6d; 
	width: 20%;
	margin-left: 5%;
}

footer {
	float: left;
	clear: right;
	padding: 2%;
}

#title {
	color: #c21764;
	font-family: CollegiateHeavyOutline, arial;
	src: url(fonts/collegiateHeavyOutlineMedium.ttf);
	text-align: center;
}

/*Headings*/

h1 {
	color: #c21764;
}

h2 {
	color: #c23c17;
}

h3 {
	color: #eb5466;
}

h4 {
	color: white;
}
	


		/*divs*/

.main {
	background-color: #6d6d6d; 
	float:left; 
	margin-left: 27%;
	width: 65%;
	padding:5px 10px;
}




		/*main navigaton*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden ;
    border: 1px solid #eb5466;
    background-color: #eb5466;
}

li {  float: left;
	 margin-left:2%;
	 padding-left:75px;
 }

li a {
    display: block;
    color: #c23c17;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 15pt;
}

li a:hover:not(.active) {
    background-color: white;}

li a.active {
    color: #6d6d6d;
    background-color: #eb5466;
