/*Colors
Dark Red: #c2172b
Orange: #c23c17
Hot Pink: #c21764
Light Pink: #eb5466
Gray: 6d6d6d
Black: #000000
Lavendar: #fbdde1
*/

body {
  color: black;
  background-color: #c2172b; 
  margin: 2%;
  padding: 1%;
}

@font-face {
	font-family: Myfont;
	src: url(BungeeShade-Regular.ttf) format("truetype");
}

#wrapper {
	margin: 0 auto;
}

.main {
	
	width: 71%;
	padding: 1%;
	background-color: #fbdde1;
	margin-top: 2%;
	
}

#short {
	min-height: 875px;
}

aside {
	background-color: #6d6d6d; 
	float: right;
	overflow-x: auto;
	overflow-y: hidden;
	width: 225px;
	padding-left: 25px;
	padding-right: 15px;
	width: 20%;
	margin-top: 2%;
}

footer {
	float: left;
	clear: right;
	padding: 2%;
	color: white;
}

#title {
	color: white;
	font-family: Myfont, san-serif;
	text-align: center;
	font-size: 45px;
	background-color: white;
	}

/*Headings*/

h1 {
	color: #c23c17;
	text-align: center;
}

h2 {
	color: #fbdde1;
	text-align: center;
}

h3 {
	color: #c23c17;
	text-align: center;
}

h4 {
	color: white;
}



		

		/* position the dropdown content */
		.dropdown {
			position: static;
			display: block;
			width: 16.66%;
			float: right;
			clear: left;
			
		}
		
		.dropdown li, a {
			color: white;
		}
		.dropbtn {
					background-color: #eb5466;
					text-align: center;
					padding: 16px;
					font-size: 16px;
					border: none;
					cursor: pointer;
					display: block;
					text-decoration: none;
		}
		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
			display: none;
			position: relative;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
			color: white;
			text-align: center;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			}

			/* Change color of dropdown links on hover */
			.dropdown-content a:hover {
				background-color: white;
				color: #c23c17;
			}
			

			/* Show the dropdown menu on hover */
			.dropdown:hover .dropdown-content {
				display: block;
				background-color: #c23c17; 


			}

			/* Change the background color of the dropdown button when the dropdown content is shown */
			.dropdown:hover .dropbtn {
				background-color: #fbdde1;
				color: #c21764;
				text-align: center;
				text-decoration: none;
			}

			#clickablelinks {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow:hidden ;
			}
/*Home Page*/
		.index_images {
			padding: 2%;
			width: 225px;
			height: 150px;
			padding-left: 13px;
		}
		
		
		div.polaroid {
			 width: 28%;
			 background-color: white;
			 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			 margin-bottom: 25px;
			 color: black;
			 float: right;
			 margin-right: 4%;
		}

		div.container {
			 text-align: center;
			 padding: 10px 20px;
			}



	




